.button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }

  .pre-text,
  .post-text {
    font-size: 11px;
  }
}
